<!DOCTYPE html>

<html>
<head>
    <title>Index - Dodge</title>
    <meta charset="uft-8" />
    <link rel="stylesheet" href="../assets/normalization1.css" />
</head>

<body>

    <header>
        <img src="../assets/Images/Bam.png" alt="Bam" height="150" width="150" />
        <img src="../assets/Images/Kapow.png" alt="Kapow" height="150" width="150" />
        <span>Toon Comic Shop</span>
        <img src="../assets/Images/Kapow.png" alt="Kapow" height="150" width="150" />
        <img src="../assets/Images/Bam.png" alt="Bam" height="150" width="150" />
        <br>
    </header>


    <nav>
        <fieldset>
            <legend>Home</legend>

            <ul>
                <li><a href="/">Menu</a></li>
                <li><a href="/Registration">Registration</a></li>
            </ul>

        </fieldset>
    </nav>

  

    <div class="Main">
        <fieldset>
            <legend>Home Page</legend>
            <p>
                Welcome to the Toon Comic Shop!
                <br><br>
                We sell any old fashioned comics from the web-slinging Spider-Man to the Transformers. 
                <br> 
                <img src="../assets/Images/SpiderMan.jpg" alt="SpiderMan" height="200" width="170"/>
                <img src="../assets/Images/Transformers.png" alt="Transformers" height="200" width="170" />
            </p>

            <p>
               
            </p>
        </fieldset>
        <br>


    </div>

    <footer>
        <span>@Callum Dodge</span>
    </footer>

</body>



</html>
